%li.commit.js-toggle-container
  .commit-row-title
    = link_to commit.short_id(8), project_commit_path(project, commit), class: "commit_short_id"
    %span{:style => "display: inline-block; width: 1em"}
      - if commit.ci_status?
        = commit.ci_icon
    %span.str-truncated
      = link_to_gfm commit.title, project_commit_path(project, commit.id), class: "commit-row-message"
      - if commit.description?
        %a.text-expander.js-toggle-button ...

    = link_to_browse_code(project, commit)

    .notes_count
      - if @note_counts
        - note_count = @note_counts.fetch(commit.id, 0)
      - else
        - notes = project.notes.for_commit_id(commit.id)
        - note_count = notes.count

      - if note_count > 0
        %span.label.label-gray
          %i.icon-comment= note_count

  - if commit.description?
    .commit-row-description.js-toggle-content
      %pre
        = preserve(gfm(escape_once(commit.description)))

  .commit-row-info
    = commit_author_link(commit, avatar: true, size: 16)
    .committed_ago
      #{time_ago_with_tooltip(commit.committed_date)} &nbsp;
